body {
font-family: sans-serif;
color: blueviolet
}

ul {
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  color: blue
}

h1 {
  text-align: center;
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:black
}
#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 round;
  }

  img {
    border-radius: 8px;
  }

  body {
    background-color: lightblue;
  }

  /*body {
    background-image: url("/cassettes.jpg");
  }*/